<mat-toolbar>Registro de Consulta</mat-toolbar>

<div class="example-container">

     <mat-form-field>
         <input matInput placeholder="Menu" disabled [(ngModel)]="usuarioSeleccionado">
    </mat-form-field>
    <br>
    <label for="">Roles Existentes</label>
    <mat-list role="list">        
        <mat-list-item role="listitem" *ngFor="let e of rolesExistentes" >{{e.nombre }}
          <mat-divider></mat-divider> 
        </mat-list-item>               
      </mat-list>

    <br>
    <br>

    <br>
    <label for="">Agregar Rol</label>
    <br>
    <br>
    <mat-select placeholder="Roles" [(value)]="idRolSeleccionado">
      <mat-option *ngFor="let p of roles" [value]="p.idRol" >{{p.nombre}}</mat-option>
    </mat-select>
    <button mat-raised-button color="primary" (click)="agregarRol()">Agregar Rol</button>
    <br>

    <mat-divider></mat-divider>

    <br>
    <mat-toolbar *ngFor="let d of rolesSeleccionados; let i=index">
        {{d.nombre}}
        <span class="example-spacer"></span>
        <button mat-raised-button color="warn" (click)="removerRol(i)">Remover</button>
      </mat-toolbar>

      <br>
      <br>
      <br>

      <button mat-raised-button color="primary" (click)="aceptar()" [disabled]="estadoBotonRegistrar()">Registrar</button>
