<mat-toolbar>Registro de Consulta</mat-toolbar>

<div class="example-container">

     <mat-form-field>
         <input matInput placeholder="Menu" disabled [(ngModel)]="menuSeleccionado">
    </mat-form-field>

    <label for="">Roles Existentes</label>
    <mat-list role="list">        
        <mat-list-item role="listitem" *ngFor="let e of rolesExistentes" >{{e.nombre }}
          <mat-divider></mat-divider> 
        </mat-list-item>               
      </mat-list>

    <br>
    <br>

    <br>
    <label for="">Agregar Rol</label>
    <br>
    <br>
    <mat-select placeholder="Roles" [(value)]="idRolSeleccionado">
      <mat-option *ngFor="let p of roles" [value]="p.idRol" >{{p.nombre}}</mat-option>
    </mat-select>
    <button mat-raised-button color="primary" (click)="agregarRol()">Agregar Rol</button>
    <br>

    <mat-divider></mat-divider>

    <br>
    <mat-toolbar *ngFor="let d of rolesSeleccionados; let i=index">
        {{d.nombre}}
        <span class="example-spacer"></span>
        <button mat-raised-button color="warn" (click)="removerRol(i)">Remover</button>
      </mat-toolbar>

      <br>
      <br>
      <br>

      <button mat-raised-button color="primary" (click)="aceptar()" [disabled]="estadoBotonRegistrar()">Registrar</button>




    




  <!--
  <button mat-raised-button color="primary" (click)="agregar()">Agregar Detalle</button>

 <mat-list role="list" *ngFor="let d of detalleConsulta; let i=index">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{i + 1}} {{d.diagnostico}}
          </mat-panel-title>
          <mat-panel-description>
            Ver Tratamiento
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <textarea matInput placeholder="Tratamiento" value="{{d.tratamiento}}"></textarea>
        </mat-form-field>
        <br>
        <button mat-raised-button color="warn" (click)="removerDiagnostico(i)">Remover</button>

      </mat-expansion-panel>

    </mat-accordion>

  </mat-list>

  <mat-form-field>
    <mat-select placeholder="Examen" [(value)]="idExamenSeleccionado">
      <mat-option *ngFor="let ex of examenes" [value]="ex.idExamen">
        {{ ex.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="agregarExamen()">Agregar Examen</button>

  <mat-toolbar *ngFor="let d of examenesSeleccionados; let i=index">
    {{d.nombre}}
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="removerExamen(i)">Remover</button>
  </mat-toolbar>

  <button mat-raised-button color="primary" (click)="aceptar()" [disabled]="estadoBotonRegistrar()">Registrar</button>
-->


</div>
